
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

main {
  position: relative;
  top: 3rem;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 3rem - 2rem);
}

.search-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: lavender;
  width: 100vw;
}

ul.nav {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  color: inherit;
}

.nav a:hover {
  background-color: khaki;
}

.search-form-wrap {
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
  background-color: lavender;
  width: 100vw;
}